<div class="card-header bg-primary">
  <div class="row">
    <div class="col-sm-6">
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Personalien</a>
    </div>
    <div class="col-sm-6 text-right d-block">
      <a onclick={{personEditing}} data-test-person-edit-form-toggle class="card-link text-white"><i class="fa edit"></i></a>
      <a class="card-link text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa angle"></i></a>
    </div>
  </div>
</div>
<div id="collapseOne" class="collapse show border border-primary rounded-bottom">
  <div class="card-body">
    <div class="row" id="profile-content-show">
      <div class="col-sm-3">
        <img id="img-avatar-read"
             src={{person.picturePath}}
               class="img-polaroid profil-img rounded-circle" alt="">
      </div>
      <div class="col-sm-3">
        <table class="table-uebersicht">
          <tr class="description">
            <td class="">Name</td>
          </tr>
          <tr>
            <td id="data-test-person-name">{{person.name}}</td>
          </tr>
          <div class="mb-2">
          </div>
          <tr class="description">
            <td>Titel</td>
          </tr>
          <tr>
            <td id="data-test-person-title">{{person.title}}</td>
          </tr>
          <div class="mb-2">
          </div>
          <tr class="description">
            <td>Funktion</td>
          </tr>
          <tr>
            <td id="data-test-person-role">{{person.role}}</td>
          </tr>
          <div class="mb-2">
          </div>
          <tr class="description">
              <td>Firma</td>
          </tr>
          <tr>
            <td data-test-person-company>{{person.company.name}}</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <table class="table-uebersicht">
          <tr class="description">
            <td>Geb. Datum</td>
          </tr>
          <tr>
            <td>
              <time datetime={{moment-format person.birthdate}} id="data-test-person-birthdate">
                {{~moment-format person.birthdate 'L'~}}
              </time>
            </td>
          </tr>
          <div class="mb-2">
          </div>
          <tr class="description">
            <td>Nationalität{{#if person.nationality2}}en{{/if}}</td>
          </tr>
          <tr>
            <td id="data-test-person-nationalities">
              {{format-country person.nationality}}{{#if person.nationality2}} , {{format-country person.nationality2}}{{/if}}
            </td>
          </tr>
          <div class="mb-2">
          </div>
          <tr class="description">
            <td>Wohnort</td>
          </tr>
          <tr>
            <td id="data-test-person-location">{{person.location}}</td>
          </tr>
          <div class="mb-2">
          </div>
          <tr class="description">
            <td>Zivilstand</td>
          </tr>
          <tr>
            <td id="data-test-person-marital-status">{{person.martialStatus}}</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <div class="mb-2">
        </div>
        <tr class="description">
          <td>Sprachen</td>
        </tr>
        <tr>
          <td id="data-test-person-language">{{person.language}}</td>
        </tr>
      </div>
    </div>
  </div>
</div>
